@font-face {
    font-family:"Science Gothic";
    src: url('./fonts/ScienceGothic[YOPQ\,slnt\,wdth\,wght]-2.woff2') format('woff2');
    src:url('./fonts/ScienceGothic[YOPQ\,slnt\,wdth\,wght].ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: 0 1000;
    font-display:swap;
}

body{
    font-family: "Science Gothic", sans-serif;
}
.variable-font{
    font-weight:1 ;
    height:100vh;
    font-size: 10em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "YOPQ" 122, "slnt" 0, "wdth" 100, "wght" 100;
    transition: 
        font-weight 500ms,
        font-variation-settings 3s;
}

.variable-font:hover{
    /* font-weight:1000 ; */
    height:100vh;
    font-size: 10em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "YOPQ" 122, "slnt" 100, "wdth" 100, "wght" 900;
}


h2{
 
    font-weight:500 ;
}
p{
    font-weight:500 ;
    line-height: 15px;
    margin: 10px
}

ul{
   font-size:30px
}